.App{
  display: grid;
  grid-template-areas: 
   'sideBar mainApp margin'
   'player player player';
  grid-template-columns: 362px auto 6px;
  grid-template-rows: auto auto auto;
  width: 100%;  
  height: auto;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

.sideBar{
  display: grid;
  grid-template-rows: 162px auto;
  grid-template-columns: 100vh;
  gap: 0px;
  width: 350px;
  height: 100%;
  padding: 0;
  grid-area: sideBar;
}

.sideBarTop{
  background-color: rgb(18, 18, 18);
  color: white;
  width: 350px;
  height: 150px;
  margin: 6px;
  margin-bottom: 3px;
  border-radius: 10px;
}

.sideBarMid{
  background-color: rgb(18, 18, 18);
  color: white;
  width: 350px;
  height: 720px;
  margin-left: 6px;
  
  margin-bottom: 0px;
  margin-top: 3px;
  border-radius: 10px;
}

.mainApp{
  background-color: rgb(18, 18, 18);
  color: white;
  width: 100%;
  height: 878.5px;
  margin-top: 6px;
  border-radius: 10px;
  grid-area: mainApp;
}


.navBar{
  width: 100%;
  height: 70px;
  background-color: #fd000048;
  margin-top: -879px;
  border-top-left-radius: 10px;
  border-top-right-radius:  10px;
  
}

.mainAplication{
  background-color: rgba(255, 255, 255, 0.589);
  height: 100%;
  margin-top: 0px;
  border-radius: 10px;
  overflow: scroll;
}


.margin{
  width: 6px;
  grid-area: margin;
}

.spfLogo{
  width: 80px;
}

button.inicio{
  width: 80px;
  height: 25px;
  background: none;
  border: none;
  color: rgb(179, 179, 179);
  text-align: start;
  transition: 500ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button.buscar{
  width: 80px;
  height: 25px;
  background: none;
  border: none;
  color: rgb(179, 179, 179);
  text-align: start;
  transition: 500ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button.suaBiblioteca{
  width: 80px;
  height: 25px;
  background: none;
  border: none;
  color: rgb(179, 179, 179);
  text-align: start;
  transition: 500ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button:hover{
  color: white;
}

svg path{
  fill: rgb(179, 179, 179);
  transition: 500ms;
}

.homeHover:hover svg path{
  fill: white;
}

.homeHover:hover button{
  color: white;
}

.buscarHover:hover svg path{
  fill: white;
}

.buscarHover:hover button{
  color: white;
}




.topButtons{
  display: grid;
  grid-template-areas:
    'logo'
    'homeDiv'
    'buscarDiv' ;
  grid-template-columns: px;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.buscarHover{
  grid-area: buscarDiv;
  display: flex;
  align-items: center;
}

.homeHover{
  grid-area: homeDiv;
  display: flex;
  align-items: center;
}
.spfLogo{
  grid-area: logo;
}

.homeIcon{
  grid-area: homeIcon;
}

button.inicio{
  grid-area: buttonInicio;
  width: 35px;
}

button.buscar{
  grid-area: buttonBuscar;
  width: 45px;
}

.buscarSVG{
  grid-area: buscarIcon;
}


svg.homeIcon{
  width: 23px;
  margin-right: 10px;
}

svg.buscarSVG{
  width: 23px;
  margin-right: 10px;
}

svg.buscarSVG{
  margin-top: 3px;
}

.biblioteca{
  width: 32px;
  margin-top: px;
  margin-left: -7px;
}

.sideBarMidHeader{
  display: grid;
  align-items: center;
  grid-template-columns: 20px 240px 20px;
  gap: 15px;
  height: 78px;
  margin-left: 20px;
  margin-top: 10px;
}


.sideBarMidHeader:hover svg.biblioteca path{
  fill: white;
}

.sideBarMidHeader:hover svg .react{
  fill: white;
}

svg .react{
  transition: 500ms;
}

.sideBarMidHeader:hover svg.biblioteca{
  color: white;
}

button.suaBiblioteca{
  width: 94px;
}

svg.plusSvg{
  width: 15px;
}

.plusDiv{
  width: 15px;
  height: 15px;
  border: 10px;
  border-color: blue;
}


button.sideBarMidButton{
  width: 80px;
  height: 25px;
  background-color: rgb(35, 35, 35);
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius: 15px ;
  border-top-right-radius: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: 500ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 500ms;
}

button.sideBarMidButton:hover{
  background-color: rgb(44, 44, 44);
}

.buttonsHeader{
  width: 330px;
  display: inline;
}

.componenteSidebar{
  height: 747px;
  background-color: white;
  margin-top: 13px;
  margin-left: -20px;
  box-shadow: black;
  box-shadow: rgb(18, 18, 18) 0px 30px 20px -10px inset, rgb(18, 18, 18) 0px 0px 0px -30px inset;
}

.player{
  background-color: rgb(0, 0, 0);
  width: 1873px;
  height: 86px;
  display: grid;
  grid-template-columns: 500px 700px 500px;

}

.imgAlbum{
  width: 60px;
  border-radius: 4px;
  grid-area: icon;
  margin-left: 20px;
}


.info{
  color: white;
  display: grid;
  grid-template-areas: 
  'icon titulo like'
  'icon autor like';
  grid-template-columns: 75px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}
.info p.titulo{
  grid-area: titulo;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 14px;
  margin-top: 0px;
}

.info p.titulo:hover{
  text-decoration: underline;
}

.info p.autor{
  grid-area: autor;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-left: 14px;
  margin-bottom: 23px;
}

.info span.autor1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: rgb(201, 201, 201);
}

.info span.autor1:hover{
  text-decoration: underline;
  color: white;
}

.info span.autor2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: rgb(201, 201, 201);
}

.info span.autor2:hover{
  text-decoration: underline;
  color: white;
}

.info button{
  grid-area: like;
  width: 17px;
  margin-right: 90px;
  background: none;
  border: none;
}


.info button:hover{
  transform: scale(1.1);
}

.info button:active path{
  fill: greenyellow;
  color: #fd0000;
}

.audioPlayer{
  width: 700px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}


audio::-webkit-media-controls-play-button{
  margin-left: 120px;
  margin-bottom: 30px;
  background-color: white;
  border: 100px;
}

audio::-webkit-media-controls-timeline-container{
  color: gre;
}